<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Zendu</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
              <li><a href="../navbar-static-top/">Static top</a></li>
              <li><a href="../navbar-fixed-top/">Fixed top</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      
      <h1>Uw gegevens</h1>
      
      <form action="/upload" method="post" enctype='multipart/form-data'>
        <div class="form-group col-md-4">
            <label for="firstName">Voornaam</label>
            <input type="text" class="form-control" id="firstName" value="<%=firstname%>" readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="lastName">Familienaam</label>
            <input type="text" class="form-control" id="lastName"value="<%=lastname%>" readonly>
        </div>
        <div class="form-group col-md-4">
            <label for="rrn">Rijksregisternummer</label>
            <input type="text" class="form-control" id="rrn" value="<%=rrn%>" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="email">Uw email</label>
            <input type="email" class="form-control" id="email" name="emailFrom" placeholder="Uw email">
        </div>
        <div class="form-group col-md-6">
            <label for="email">Nogmaals uw email</label>
            <input type="email" class="form-control" id="email" placeholder="Uw email ter controle">
        </div>
        <h1>Aangetekende brief</h1>
        <div class="form-group">
            <label for="exampleInputFile">Selecteer uw document</label>
            <input type="file" id="exampleInputFile" name="inputfile">
            <p class="help-block">Klik om een lokaal document te selecteren</p>
        </div>
        
        <h1>Gegevens bestemmeling</h1>
          <div class="form-group">
            <label for="emailTo">Email bestemmeling</label>
            <input type="email" class="form-control" id="emailTo" name="emailTo" placeholder="Email bestemmeling">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

  
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>